@import "../../helpers/variables";

.tariff {
  display: flex;
  align-items: center;
  img {
    width: 50px;
    padding: 15px;
  }
  h3, h4 {
    color: $darkGreenColor;
  }
}

.info_container {
  @extend .tarif_page_container;
  text-align: center;
  flex-wrap: wrap;
  color: $darkGreenColor;
}

.tarif_page_container {
  display: flex;
  justify-content: center;
}

.info_container_item {
  background-color: $lightGrey;
  padding: 20px;
  margin: 20px;
}

button {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 0;
  background-color: $darkGreenColor;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

button:disabled {
  background-color: #516368;
  color: #505050;
  cursor: default;
}

@media screen and (max-width: 768px) {
  
}

