@import "../variables";

.tariff {
  flex: 1 0 0;
  display: flex;
  text-align: center;
  align-items: center;
}

.info_container {
  @extend .tarif_page_container;
  text-align: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  color: $main-color;
}

.tarif_page_container {
  display: flex;
  justify-content: center;
}

.tarif_page {
  max-width: 1280px;
}

.tariff h3, h4 {
  color: $main-color;
}

.tariff img {
  height: 50px;
  padding: 15px;
}

.info_container_item {
  background-color: #F9F9F9;
  padding: 20px;
  margin: 20px;
}

button {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 0;
  background-color: $main-color;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

button:disabled {
  background-color: #516368;
  color: #505050;
  cursor: default;
}


